@import "../../styles/color.scss";
@import "../../styles//typography.scss";

.appbar {
  background-color: $light-mode-background !important;
  padding: 0 4rem;

  .typography {
    font-family: $font-family;
    color: $light-mode-text;
  }

  h5 {
    @extend .typography;
    font-weight: $font-weight-800;
  }

  p {
    @extend .typography;
    font-weight: $font-weight-600;
    text-transform: capitalize;
  }
}
