@import "../../styles/base.scss";

.appbar {
  padding: 0 4rem;

  @include apply-at-md-size {
    padding: 0 0.5rem;
  }

  .typography {
    font-family: $font-family;
  }

  h5 {
    @extend .typography;
    font-weight: $font-weight-800;

    @include apply-at-xs-size {
      font-size: 1em;
    }
  }

  button {
    @extend .typography;
    font-weight: $font-weight-600;
    text-transform: capitalize;

    @include apply-at-xs-size {
      font-size: 0.8em;
    }
  }
}
